@import "../../.cache/ashwal/colors-waybar.css";

* {
  font-family: "monospace";
  font-size: 14px;
}

window#waybar {
  background-color: @color2;
  color: @foregroud;
  border: 1px solid @color2;
}

#clock,
#network,
#pulseaudio {
  padding: 0px 8px 0px 8px;
  background-color: @color0;
  color: @foreground;
  border: 1px solid @color2;
}
